BODY {
	background: #FFFFFF;
	font-family: "微软雅黑";
}

.top {
	color: #999;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #e3e4e5;
	border-bottom: solid 1px #ddd;
}

a:hover {
	color: #f30213 !important;
}

.fl li {
	float: left;
	height: 30px;
	padding: 0 2px;
}
.dt{
	margin-top: 0px !important;
}
.content{
	top: 13px !important;
}
.fl li a {
	color: #999;
}

.fl-li i {
	padding-right: 5px;
}

.iconfont {
	position: relative;
	display: inline;
	font-size: 16px;
	color: #5c5452;
}

.area {
	width: 58px;
	height: 29px;
	z-index: 10;
	border: 1px solid #e3e4e5;
	position: relative;
}

.area:hover {
	border: 1px solid #cccccc;
	border-bottom: 1px solid white;
}

.province {
	position: absolute;
}

.province table {
	width: 310px;
	height: 220px;
	background: #FFFFFF;
	text-align: center;
	line-height: 30px;
	display: none;
	margin-left: -1px;
	border: 1px solid #CCCCCC;
	border-top: none;
	z-index: 50;
	margin-top: -2px;
}

.province td {
	margin-top: 6px;
	width: 36px;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	margin-left: 20px;
}

.active {
	background: #f10215;
	color: white;
}

.right-ul {
	display: flex;
	color: #999;
}

.right-ul s {
	overflow: hidden;
	margin: 11px 8px 0;
	width: 1px;
	height: 10px;
	background-color: #ccc;
}

.right-ul i {
	font-size: 10px;
	color: #666666;
}

.li-seven,
.li-six,
.li-five,
.li-two {
	position: relative;
	width: 76px;
	height: 30px;
}

.li-seven>a,
.li-six>a,
.li-five>a,
.li-two>a {
	margin-left: 10px;
}

.top li a {
	color: #999;
	font-family: "verdana,simsun";
}

.top p a {
	color: #999;
	font-family: "verdana,simsun";
}

.jdlogo {
	position: relative;
	z-index: 1;
	float: left;
	width: 276px;
	height: 50px;
	margin: 15px 0 22px;
}

.jdlogo img {
	display: block;
	margin-top: 2px;
	width: 134px;
	height: 42px;
}

.search {
	height: 87px;
}

.selector {
	position: relative;
	z-index: 1;
	float: left;
	width: auto;
	margin: 27px 30px 0 95px;
}

.inp {
	float: left;
	width: 616px;
	height: 24px;
	line-height: 24px;
	color: #999;
	padding: 4px;
	margin-bottom: 4px;
	border-width: 2px 0 2px 2px;
	border-color: #f30213;
	border-style: solid;
	outline: 0;
	font-size: 12px;
}

.selector button {
	float: left;
	width: 80px;
	height: 36px;
	font-family: tahoma, arial, Microsoft YaHei, Hiragino Sans GB, "\u5b8b\u4f53", sans-serif;
	background: #f30213;
	border: none;
	line-height: 1;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.car {
	float: left;
	z-index: 11;
	height: 36px;
	margin-top: 27px;
	position: relative;
	width: 91px;
	height: 34px;
	border: 1px solid #DFDFDF;
	padding: 0 28px 0 19px;
	background: #F9F9F9;
	line-height: 34px;
	cursor: default;
	zoom: 1;
}

.car a {
	color: #f30213;
}

.gouwu {
	top: 9px;
	left: 90px;
	width: 16px;
	height: 16px;
	background: url(../img/imgages/settleup-@1x.png);
	background-size: 16px 16px;
	overflow: hidden;
	display: block;
	position: absolute;
	overflow: hidden;
}

.num {
	position: absolute;
	top: 7px;
	left: 105px;
	display: inline-block;
	padding: 1px;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: -1px;
	color: #fff;
	background-color: #da1026;
	border-radius: 7px;
	min-width: 14px;
	font-family: tahoma, arial;
	text-align: center;
}

.search-ul {
	margin-left: 95px;
	display: flex;
	flex-flow: row;
	float: left;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}

.search-ul li {
	margin-right: 10px;
	float: left;
	white-space: nowrap;
}

.search-ul li a {
	color: #999;
}

.nav {
	margin-top: 10px;
	height: 33px;
	border-bottom: 2px solid #f30213;
	margin-bottom: 15px;
}

.nav .wrap5 {
	position: relative;
	z-index: 9;
	height: 33px;
}

.nav-ul {
	display: flex;
	flex-flow: row;
}

.nav-ul>li {
	line-height: 33px;
}

.nav-ul>li>a {
	height: 33px;
	padding: 0 22px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	line-height: 33px;
	color: #333;
	font-weight: 700;
}

#nav-one {
	font-size: 14px;
	position: relative;
	bottom: 0;
	color: #fff;
	z-index: 10;
	width: 190px;
	height: 33px;
	line-height: 33px;
	background: #f30213;
	overflow: visible;
}

#nav-one>a {
	display: block;
	height: 33px;
	background: #f30213;
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-weight: 500;
}

#nav-one>a:hover {
	color: #FFFFFF !important;
}

.nav-ul s {
	width: 1px;
	height: 13px;
	margin: 10px 0;
	background: #eee;
	overflow: hidden;
}

.second-nav {
	position: absolute;
	box-shadow: -1px 3px 12px -1px rgba(0, 0, 0, .3);
	padding: 16px 0;
	background: white;
}

.second-nav>ul>li {
	width: 158px;
	padding: 0 16px;
	position: relative;
	z-index: 1;
	height: 28px;
	color: #fff;
	line-height: 28px;
}

.second-nav {
	display: none;
}

#nav-one:hover .second-nav {
	display: block;
}

.second-nav>ul>li:hover {
	background: rgba(39, 2, 2, .1);
}

.second-nav-ul>li:nth-child(1):hover .second-nav2 {
	display: block;
}

.second-nav>ul>li a {
	font-size: 12px;
	font-weight: 400;
	color: #333;
}

.menu_line {
	color: #333;
	padding: 0 4px;
	font-size: 12px;
	line-height: 28px;
	font-family: Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53;
}

.second-nav2 {
	position: absolute;
	width: 1000px;
	height: 530px;
	box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
	left: 190px;
	top: -16px;
	z-index: 50;
	background: #f7f7f7;
	display: none;
}

.second-nav-find>ul {
	display: flex;
	margin-top: 20px;
}

.second-nav-find>ul>li:nth-child(1) {
	margin-left: 22px;
}

.second-nav-find>ul>li {
	width: 96px;
	height: 24px;
	background: #676163;
	margin-left: 10px;
	text-align: center;
	line-height: 24px;
	font-size: 12px;
	cursor: pointer;
}

.second-nav-logo img {
	float: right;
	/*margin-left: 818px;*/
	margin-top: -470px;
}

.second-nav-find>ul>li:hover {
	background: #333333;
}

.second-nav-find>ul>li .iconfont {
	font-size: 10px;
}

.second-nav-find-ele {
	display: flex;
}

.second-nav-find-ele ul {
	display: flex;
	width: 700px;
	margin-top: 16px;
	margin-left: 12px;
	border-bottom: 1px solid #e0e0e0;
}

.second-nav-find .second-nav-find-ele>ul>li>a {
	color: #919191;
	font-size: 12px;
	margin: 4px 0;
	padding: 0 10px;
	height: 16px;
	border-left: 1px solid #e0e0e0;
	line-height: 16px;
	white-space: nowrap;
}

.second-nav-find .second-nav-find-ele p {
	color: #666;
	font-size: 12px;
	margin-left: 50px;
	margin-top: 16px;
}

.second-nav-find .second-nav-find-ele p .iconfont {
	color: #666;
	font-size: 10px;
	margin-left: 5px;
}

.ad .wrap5 {
	position: relative;
	height: 152px;
	margin-bottom: 15px;
	background-color: #f1f1f1;
}

.hd {
	width: 30px;
	height: 60px;
	position: absolute;
	left: 20px;
	top: 0;
	line-height: 18px;
	padding: 20px 10px 0 5px;
	font-size: 14px;
	text-align: center;
	font-family: "microsoft yahei";
	color: #f60;
	background: url(../img/imgages/list.icons.other.png);
}

.tab-one,
.tab-two,
.tab-three {
	position: absolute;
	top: 15px;
	left: 95px;
	width: 264px;
	height: 100px;
	overflow: hidden;
	padding: 11px;
	background-color: #fff;
}

.tab-one img,
.tab-two img,
.tab-three img {
	float: left;
	width: 100px;
	height: 100px;
	padding: 0;
	margin-right: 10px;
}

.price {
	float: left;
	width: 154px;
}

.price a {
	height: 40px;
	line-height: 20px;
	overflow: hidden;
	padding-top: 5px;
	display: inline-block;
	word-break: break-all;
	word-wrap: break-word;
}

.price strong {
	display: block;
	font-family: verdana;
	font-weight: 700;
	color: #e4393c;
}

.price button {
	display: inline-block;
	line-height: 14px;
	height: 23px;
	border-radius: 2px;
	margin-top: 10px;
	background: #F7F7F7;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid #DDD;
	padding: 4px 13px 5px;
	color: #666;
	background-color: #f7f7f7;
	background-repeat: repeat-x;
}

.tab-two {
	left: 425px;
}

.tab-three {
	left: 755px;
}

.market {
	width: 290px;
	height: 152px;
	float: right;
	position: relative;
}

.bd {
	position: absolute;
	left: 80px;
	top: 20px;
}

.bd li {
	width: 165px;
	height: 22px;
	overflow: hidden;
	line-height: 22px;
	margin-bottom: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-family: simsun;
}

.crumbs .wrap5 {
	height: 24px;
	line-height: 24px;
	position: relative;
	margin-bottom: 10px;
	z-index: 1;
}

.one-level,
.two-level,
.three-level,
.four-level,
.clear {
	float: left;
	margin-right: 8px;
	cursor: pointer;
	position: relative;
}

.one-menu-main {
	position: absolute;
	width: 350px;
	padding: 10px 0 10px 8px;
	position: absolute;
	left: 0;
	top: 23px;
	border: 1px solid #ddd;
	background-color: #fff;
	z-index: 100;
	display: none;
}

.one-menu-main>ul>li {
	float: left;
	margin-right: 22px;
}

.clear a {
	color: #666;
}

.bottom-line {
	width: 79px;
	height: 1px;
	background: white;
	position: absolute;
	z-index: 101;
	top: 23px;
	left: 1px;
	display: none;
}

.line2 {
	width: 84px;
}

.line3 {
	width: 144px;
}

.four-level em {
	color: #e4393c;
}

.one-level a {
	font-size: 18px;
	font-weight: 700;
	font-family: "microsoft yahei";
	float: left;
	margin-right: 5px;
}

.arrow {
	font-family: simsun;
	font-style: normal;
}

.one-menu {
	display: inline-block;
	height: 22px;
	padding: 0 4px 0 8px;
	border: 1px solid #ddd;
	line-height: 22px;
	vertical-align: top;
}

.one-menu i {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: top;
	background: url(../img/imgages/search.ele.png) no-repeat 4px 7px;
	transition: background-position .15s ease-in-out;
}

.title .wrap5 {
	line-height: 34px;
	height: 34px;
	zoom: 1;
	border-bottom: 1px solid rgb(221, 221, 221);
	background: rgb(241, 241, 241);
	overflow: hidden;
}

.title .wrap5 h3 {
	float: left;
	padding-left: 10px;
	display: inline-block;
}

.title .wrap5 b {
	color: rgb(228, 57, 60);
	margin-right: 5px;
}

.title .wrap5 em {
	font-weight: 700;
}

.title .wrap5 span {
	display: inline-block;
	float: left;
	padding-left: 20px;
}

.brand .wrap5 {
	position: relative;
	line-height: 34px;
	border-bottom: 1px dashed #eee;
}

.key {
	float: left;
	width: 100px;
	padding-left: 10px;
	color: #666;
}

.value {
	margin-left: 110px;
	padding-right: 130px;
	padding-left: 10px;
	overflow: hidden;
	zoom: 1;
	padding-top: 10px;
}

.value li {
	line-height: 48px;
	width: 116px;
	height: 48px;
	padding: 0;
	float: left;
	border: 1px solid #DDD;
	margin: -1px -1px 0 0;
	background: #FFF;
	text-align: center;
}

.value li img {
	padding: 5px 6px;
	vertical-align: top;
}

.ext {
	position: absolute;
	top: 6px;
	right: 10px;
	width: 120px;
	height: auto;
	line-height: 22px;
	overflow: hidden;
	zoom: 1;
}

.ext .more {
	float: left;
	margin-right: 20px;
	position: relative;
	width: 50px;
	height: 22px;
	background: #fff;
	color: #333;
}

.ext .more i {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid #DDD;
	background-position: 4px 7px;
	transition: background-position .15s ease-in-out;
	background: url(../img/imgages/search.ele.png) no-repeat 4px 7px;
}

.morei2 {
	position: absolute;
	right: 16px;
	top: 4px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/imgages/search.ele.png) no-repeat 4px 7px;
	background-position: 4px 7px;
}

.ext .duo {
	float: left;
	height: 20px;
	line-height: 20px;
	border: 1px solid #ddd;
	padding: 0 3px 0 18px;
	position: relative;
	background: #F8F8F8;
	color: #333;
}

.duo i {
	position: absolute;
	display: block;
	font-style: normal;
	left: 3px;
	top: 0;
	width: 13px;
	height: 20px;
	background-position: 0 -63px;
	transition: background-position .15s ease-in-out;
	background: url(../img/imgages/search.ele.png) no-repeat 0px -63px;
}

.more:hover .morei {
	border-color: #e4393c;
	background-position: 4px -45px;
}

.duo:hover {
	border-color: #e4393c;
}

.duo:hover .duoi {
	background-position: 0px -84px;
}

.dashed {
	position: relative;
	line-height: 34px;
	border-bottom: 1px dashed #eee;
}

.sel-value {
	margin-left: 110px;
	padding-right: 130px;
	padding-left: 10px;
	padding-top: 4px;
	overflow: hidden;
	zoom: 1;
}

.sel-ul {
	float: left;
	overflow: hidden;
	zoom: 1;
	position: relative;
	height: 30px;
}

.sel-ul li {
	margin-right: 50px;
	float: left;
	margin-bottom: 4px;
	height: 26px;
	line-height: 26px;
}

.sel-inp {
	float: left;
	margin-bottom: 4px;
	margin-top: 2px;
	text-align: center;
}

.sel-inp input {
	width: 38px;
	padding: 1px;
	float: left;
	height: 17px;
	line-height: 17px;
	border: 1px solid #CCC;
}

.sel-inp em {
	float: left;
	line-height: 21px;
	padding: 0 3px;
	color: #CCC;
}

.sel-inp a {
	display: inline-block;
	line-height: 14px;
	height: 14px;
	border-radius: 2px;
	background: #F7F7F7;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid #DDD;
	margin-left: 5px;
	padding: 2px 10px 3px;
	float: left;
	color: #666;
	background-color: #f7f7f7;
	background-repeat: repeat-x;
}

.button-sel {
	text-align: center;
	position: relative;
	top: -1px;
	border-top: 1px solid #ddd;
	transition: border-color .15s ease-in-out;
}

.solid {
	display: none;
}

.button-wrap {
	position: relative;
	display: inline-block;
	margin-top: -1px;
	height: 28px;
	border-top: 1px solid #ddd;
	line-height: 28px;
	padding: 0 40px 0 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFF #DDD #DDD;
	background: #fff;
	cursor: pointer;
	color: #333;
	transition: border-color .15s ease-in-out;
}

.button-sel:hover {
	border-color: #e4393c;
}

.button-sel:hover .button-wrap {
	border-color: #e4393c;
	color: #e4393c;
	border-top: 1px solid #fff;
}

.content {
	margin-top: 10px;
	margin-bottom: 100px;
	overflow: hidden;
}

.left-cont {
	width: 190px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	border: 1px solid #ccc;
	position: relative;
}

.left-ad {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
	height: 11px;
	overflow: hidden;
	background: url(../img/imgages/u-ad.gif) no-repeat;
}

.mt {
	line-height: 36px;
	margin-bottom: 10px;
}

.mt h3 {
	font-weight: bold;
}

.right-cont {
	width: 1170px;
	float: right;
	height: auto;
}

.left-ul {
	display: flex;
	flex-flow: column;
}

.left-ul li {
	margin-bottom: 10px;
}

.left-ul li img {
	width: 100%;
	padding: 0;
	margin-bottom: 10px;
	text-align: center;
	position: relative;
}

.left-ul li>p {
	height: 36px;
	line-height: 18px;
	margin-bottom: 10px;
	overflow: hidden;
	display: block;
	color: #666666;
}

.left-price {
	height: 16px;
	line-height: 16px;
	margin-bottom: 4px;
	overflow: hidden;
}

.left-price strong {
	float: left;
	margin-right: 6px;
	color: #e4393c;
	font-weight: 700;
	font-family: verdana;
	font-size: 14px;
}

.left-price i {
	float: left;
	height: 16px;
	line-height: 16px;
	padding: 0 3px;
	margin-right: 3px;
	overflow: hidden;
	text-align: center;
	font-style: normal;
	font-size: 12px;
	font-family: "Helvetica Neue", "Hiragino Sans GB", SimSun, serif;
	background: #e23a3a;
	color: #FFF;
	cursor: default;
	border-radius: 2px;
}

.preview {
	color: #999;
}

.preview a {
	color: #005aa0;
}

.filter {
	position: relative;
	z-index: 4;
	border-top: 1px solid #DDD;
	margin-bottom: 5px;
}

.f-top {
	height: 25px;
	background: #F1F1F1;
	padding: 6px 8px;
	border-bottom: 1px solid #E7E3E7;
}

.f-shot {
	float: left;
	margin-right: 24px;
}

.right-top {
	float: left;
	padding: 0 10px;
	height: 23px;
	border: 1px solid #CCC;
	line-height: 23px;
	margin-right: -1px;
	background: #FFF;
	color: #333;
}

.specil {
	background: #e4393c;
	color: #FFF;
	border-color: #e4393c;
}

.specil:hover {
	color: #fff !important;
}

.page-text {
	line-height: 23px;
	margin-right: 10px;
	font-family: verdana;
}

.page-text b {
	color: #e4393c;
	font-weight: 700;
}

.page-text em,
.page-text i {
	font-weight: 400;
	font-style: normal;
}

.left-click {
	padding: 0;
	background: #F1F1F1;
	color: #CCC;
	cursor: default;
	width: 46px;
	height: 23px;
	border: 1px solid #DDD;
	line-height: 23px;
	font-family: "\5b8b\4f53";
	text-align: center;
	font-size: 16px;
	float: left;
}

.right-click {
	width: 46px;
	height: 23px;
	border: 1px solid #DDD;
	background: #FFF;
	line-height: 23px;
	font-family: "\5b8b\4f53";
	text-align: center;
	font-size: 16px;
	color: #AAA;
	float: left;
}

.f-bot {
	padding: 6px 8px;
	border-bottom: 1px solid #E7E3E7;
	background: #F9F9F9;
}

.f-store {
	float: left;
	padding-left: 5px;
	line-height: 28px;
}

.f-span {
	color: #999;
	float: left;
	line-height: 25px;
	margin-right: 5px;
}

.f-feature {
	float: left;
	position: relative;
	width: auto;
	height: 25px;
	overflow: hidden;
}

.f-feature li {
	position: relative;
	float: left;
	display: inline;
	height: 25px;
	padding-left: 18px;
	line-height: 27px;
	padding-right: 5px;
}

.f-feature li i {
	position: absolute;
	left: 0;
	top: 6px;
	background: url(../img/imgages/search.ele.png) no-repeat;
	display: inline-block;
	height: 12px;
	width: 12px;
	background-color: #fff;
	border: 1px solid #ccc;
	font-size: 0;
	background-position: 10px 108px;
}

.fea-ul>li:hover .ai {
	border-color: #e4393c !important;
}

.address {
	float: left;
	height: 25px;
	position: relative;
	z-index: 5;
	height: 26px;
	margin-right: 10px;
	height: 23px;
	line-height: 23px;
	padding: 0 5px;
	border: 1px solid #ccc;
	overflow: hidden;
	background: #fff;
	cursor: pointer;
	color: #333;
}

.shuohuo {
	margin-right: 5px;
}

.address em {
	float: left;
	height: 23px;
	margin-right: 5px;
	overflow: hidden;
}

.address b {
	display: inline-block;
	width: 13px;
	height: 7px;
	margin-top: 8px;
	overflow: hidden;
	vertical-align: top;
	background: url(../img/imgages/search.ele.png) no-repeat;
}

.content-list {
	margin-bottom: 20px;
	height: auto;
	position: relative;
	z-index: 1;
}

.list-ul {
	width: 1170px;
}

.list-ul li {
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 38px;
	width: 220px;
	height: 474px;
	float: left;
	position: relative;
	z-index: 1;
	margin-top: 10px;
	background: #fff;
	border: 1px solid #fff;
	transition: border-color .1s ease;
}

.p-img {
	height: 220px;
	padding: 0;
	margin-bottom: 15px;
	position: relative;
}

.p-img img:nth-child(1) {
	width: 56px;
	height: 65px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 10;
}

.p-img img:nth-child(2) {
	position: absolute;
	z-index: 5;
}

.p-price {
	position: relative;
	line-height: 22px;
	height: 22px;
	overflow: hidden;
	width: 100%;
	margin: 0 0 8px;
}

.p-price strong {
	float: left;
	margin-right: 10px;
	color: #e4393c;
	font-size: 20px;
	font-weight: 400;
}

.p-name {
	height: 40px;
	margin-bottom: 8px;
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
}

.p-name em {
	display: block;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	transition: height .08s ease;
}

.p-span {
	width: 228px;
	height: 19px;
	margin-top: 1px;
	margin-right: -8px;
	overflow: hidden;
}

.p-span a {
	float: left;
	height: 19px;
	line-height: 19px;
	padding: 0 4px;
	margin-right: 7px;
	background: #f4f4f4;
}

.p-commit {
	width: 100%;
	height: 18px;
	margin-top: -3px;
	margin-bottom: 9px;
	overflow: hidden;
	font-weight: 400;
}

.p-commit a {
	color: #646fb0;
	font-family: verdana;
	font-weight: 700;
}

.p-commit strong {
	font-weight: 400;
}

.p-commit span {
	float: right;
	padding-right: 11px;
	color: #a7a7a7;
}

.p-commit em {
	margin-left: 5px;
	color: #646fb0;
	font-family: verdana;
	font-weight: 700;
}

.p-icon {
	height: 16px;
	margin-bottom: 12px;
	overflow: hidden;
}

.icon1 {
	float: left;
	height: 16px;
	line-height: 16px;
	padding: 0 3px;
	margin-right: 3px;
	overflow: hidden;
	text-align: center;
	font-style: normal;
	font-size: 12px;
	font-family: "Helvetica Neue", "Hiragino Sans GB", SimSun, serif;
	background: #e23a3a;
	color: #FFF;
	cursor: default;
	border-radius: 2px;
}

.icon2 {
	float: left;
	height: 14px;
	line-height: 14px;
	padding: 0 3px;
	border: 1px solid #e23a3a;
	margin-right: 3px;
	overflow: hidden;
	text-align: center;
	font-style: normal;
	font-size: 12px;
	font-family: "Helvetica Neue", "Hiragino Sans GB", SimSun, serif;
	border-radius: 2px;
	color: #e23a3a;
}

.p-opear a {
	float: left;
	height: 25px;
	width: 28px;
	line-height: 25px;
	border: 1px solid #DDD;
	padding: 0 3px 0 24px;
	position: relative;
	background: #fff;
	color: #999;
}

.p-opear i {
	position: absolute;
	left: 5px;
	top: 5px;
	background: url(../img/imgages/search.ele.png) 100px 100px no-repeat;
	display: inline-block;
	height: 12px;
	width: 12px;
	background-color: #fff;
	border: 1px solid #ccc;
	font-size: 0;
}

.p-opear .xin {
	background-position: -1px -416px;
	border: none;
	width: 15px;
	transition: .2s;
}

.p-opear .car2 {
	width: 18px;
	height: 18px;
	border: none;
	background-position: -2px -273px;
}

.p-opear a:last-child {
	width: 67px;
	text-align: center;
	color: #e4393c;
	border-right: 1px solid #ccc;
}

.list-ul li:hover {
	border-color: #e9e9e9;
	box-shadow: 0px 0px 2px 2px #f8f8f8;
}

.p-opear a:hover {
	border-right: 1px solid #e4393c;
	border-color: #e4393c;
}

.p-opear a:nth-child(1):hover .zheng {
	border-color: #e4393c;
}

.p-opear a:nth-child(2):hover .xin {
	background-position: -1px -439px;
}

.stair-ul {
	position: fixed;
	top: 50%;
	right: 0px;
	width: 35px;
	margin-top: -61px;
	display: flex;
	flex-flow: column;
	z-index: 1000;
}

.stair-ul li {
	position: relative;
	width: 35px;
	height: 35px;
	margin-bottom: 1px;
	cursor: pointer;
	background-color: #7a6e6e;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
	text-align: center;
}

.stair-ul li i {
	color: white;
	font-size: 18px;
	line-height: 35px;
}

.stair-ul2 {
	position: fixed;
	top: 85%;
	right: 0px;
	width: 35px;
	margin-top: -61px;
	display: flex;
	flex-flow: column;
	z-index: 1000;
}

.stair-ul2 li {
	position: relative;
	width: 35px;
	height: 35px;
	margin-bottom: 1px;
	cursor: pointer;
	background-color: #7a6e6e;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
	text-align: center;
}

.stair-ul2 li i {
	color: white;
	font-size: 18px;
	line-height: 35px;
	z-index: 2;
}

.tab-text {
	width: 62px;
	height: 35px;
	line-height: 35px;
	color: rgb(255, 255, 255);
	text-align: center;
	font-family: 微软雅黑;
	position: absolute;
	z-index: 1;
	left: 35px;
	top: 0px;
	background-color: rgb(122, 110, 110);
	border-radius: 3px 0px 0px 3px;
	transition: left 0.3s ease-in-out 0.1s;
}

.stair-ul li:hover .tab-text {
	left: -60px;
	background: #C81623;
}

.stair-ul li:hover {
	background: #C81623;
}

.stair-ul2 li:hover .tab-text {
	left: -60px;
	background: #C81623;
}

.stair-ul2 li:hover {
	background: #C81623;
}


/*地区选择*/


